
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Lunasima&family=Noto+Sans+Mahajani&family=Poppins:ital,wght@0,200;0,500;1,300&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}



.sample-list-main .center{
    display: flex;
    align-items: center;
    height: auto;
}

.sample-list-main .top-heading{
  display: flex;
  align-items: center;
  justify-content: space-around ;
  width: 100vw;
  flex-wrap: wrap;
  height: 100px;
  background-color: aliceblue;
}

.sample-list-main .top-heading h1{
    font-family: 'Comic Neue', cursive;
    font-size: 3.5rem;
    font-weight: 800;
}

.sample-list-main .top-heading .big-underline{
    background-color: wheat;
    height: 0.05rem;
    width: 5vw;
}


.sample-list-main .top-heading .categories{
    width: 350px;
    display: flex;
    justify-content: space-between;
}


.sample-list-main .sample-list-section{
    background-color: white;
    /* min-height: 180vh; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    min-height: 180vh;

}

.sample-list-main .sample-list-section .sample-list{   
    column-gap: 14px;
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}

.sample-list-main .sample-list-section .sample-list .products{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 23%;
    gap: 140px;
}

.sample-list-main .sample-list-section .sample-list .product{
    background-color: rgb(255, 255, 253);
    /* background-color: rgb(138, 84, 84); */
    width: 268px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 20px;
    transition: 0.3s linear;
  }
  
  
.sample-list-main .sample-list-section .sample-list .product:hover{
    box-shadow: 0 0 20px rgb(186, 186, 186);
}
.sample-list-main .sample-list-section .sample-list .product .image{
    width: 268px;
    background-color: white;
    height: 800px;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .sample-list-main .sample-list-section .sample-list .product img{
    width: 268px;
    height: 300px;
    /* background-color: white; */
    transition: 0.4s linear;
  }

  .sample-list-main .sample-list-section .sample-list .product img:hover{
    transform: scale(1.1);
  }
  
  
  .sample-list-main .sample-list-section .sample-list .product .content-center{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(255, 255, 255);
  }
  
.sample-list-main .sample-list-section .sample-list .product .content{
    width: 200px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: .5px solid rgb(185, 185, 185);
  }
.sample-list-main .sample-list-section .sample-list .product .content h1{
    font-size: 1rem;
}
.sample-list-main .sample-list-section .sample-list .product .content h3{
    font-size: 0.7rem;
    color: rgb(155, 155, 155);
}



.sample-list-main .sample-list-section .sample-list .product .content .rating-stars{
    display: flex;
    align-items: center;
    color: orange;
}
.sample-list-main .sample-list-section .sample-list .product .content .rating-stars h3{
    display: flex;
    align-items: center;
    color: rgb(103, 103, 103);
    font-size: 0.7rem;
}
.sample-list-main .sample-list-section .sample-list .product .content .price{
    display: flex;
    align-items: center;
}

.sample-list-main .sample-list-section .sample-list .product .content .price h3{
    text-decoration: line-through;
    color: black;
}

.sample-list-main .sample-list-section .sample-list .product .content .price h1{
    color: rgb(84, 84, 255);
}


.input{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: aliceblue;
}

.input input{
    width: 20vw;
    height: 68px;
    background: none;
    border: none;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(255, 213, 136);
    outline: none;
}











.sale-main{
    min-height: 400px;
    height: auto;
    background-color: rgb(255, 255, 255);
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .sale-main .image-left{
    width: 750px;
    height: 238px;
    background-color: #55585b;
    background-image: url('product-banner-1.jpg');
    border-radius: 10px;
    background-repeat: no-repeat;
    transition: all 0.5s ease-out;
    background-size: 769px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .sale-main .image-left .space{
    width: 259px;
  }
  
  .sale-main .image-left:hover{
    background-size: 790px;
  }
  
  .sale-main .image-left .content{
     /* background-color: red; */
     width: 330px;
  }
  
  .sale-main .image-left .content h3{
     font-size: .9rem;
     margin-bottom: 10px;
  }
  
  .sale-main .image-left .content h1{
     font-size: 2.4rem;
     line-height: 40px;
     font-weight: 800;
  }
  
  .sale-main .image-left .content .btn{
    margin-top: 20px;
     font-size: 1rem;
     display: flex;
     align-items: center;
     gap: 10px;
  }
  

  .sale-main .image-left .content .btn i{
     font-size: 1.1rem;
  }
  
  .sale-main .image-right{
    width: 350px;
    height: 238px;
    background-color: #3498db;
    background-image: url('product-banner-2.jpg');
    background-size: 350px;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: all 0.5s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .sale-main .image-right .content{
    width:270px;
    
  }
  
  .sale-main .image-right .content h1{
    font-size: 1.6rem;
    
  }
  
  .sale-main .image-right .content h3{
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  
  .sale-main .image-right .content .btn{
    margin-top: 20px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  
  
  .sale-main .image-right .content .btn i{
     font-size: 1.1rem;
  }
  
  .sale-main .image-right:hover{
    background-size: 370px;
  }
  
@media (max-width:900px) {
    .sale-main .image-left{
        width: 90vw;
        background-position: right;
    }
}  
  