@import url("https://fonts.googleapis.com/css2?family=Lunasima&family=Noto+Sans+Mahajani&family=Poppins:wght@300&display=swap");

.nav-center {
  background-color: #115061;
  color: white;
  height: 70px;
  /* width: 100%; */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.nav-center ul {
  display: flex;
}

.nav-center ul li a {
  color: white;
  text-decoration: none;
  outline: none;
  display: block;
  font-size: 1.2rem;
  padding: 3rem;
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.cart i:hover {
  color: rgb(153, 66, 40);
}

.input-box {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 70.5%;
}

.input-box input {
  /* border-radius: 5px; */
  height: 2.9rem;
  width: 372%;
  outline: none;
  border: none;
  /* font-weight: 900; */
  font-size: 1rem;
  background-color: white;
  border-radius: 20px;
  z-index: 1;
  padding-left: 28px;
}

.input-box h5 {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
  width: 466px;
  border-radius: 40px;
  text-align: center;
  background-color: #fd4b6b;
  position: relative;
  right: 109px;
  z-index: 5;
}

.login {
  display: flex;
  align-items: center;
  font-weight: 800;
}

.signup-btn {
  margin-right: 10px;
}

.login-btn {
  margin-right: 4px;
  padding: 0.6rem;
  width: 6rem;
  background-color: rgb(28, 113, 32);
}

.login-signup {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 170px;
}

.login-signup .content h3 {
  font-size: 0.9rem;
  font-weight: 700;
}
.login-signup i {
  font-size: 1.9rem;
}

.login-signup i:hover {
  color: #fd4b6b;
}

.nav-center .heart {
  display: flex;
  align-items: center;
  width: 123px;
  cursor: pointer;
}

.nav-center .heart h3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 113px;
}

.links {
  text-decoration: none;
}

.nav-center .heart i {
  font-size: 1rem;
  color: white;

  /* font-weight: 700; */
}

.nav-center .heart i:hover {
  color: #fd4b6b;
}

.nav-center .left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 49vw;
}

.nav-center .right {
  width: 52vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart {
  width: 240px;
  display: flex;
  align-items: flex-end;
}

.cart .content {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 0.9rem;
}

.cart i {
  color: white;
  font-size: 1.7rem;
  /* bottom: 3px; */
  position: relative;
  left: 3px;
}

.cart .itemNum {
  background-color: rgb(255, 10, 10);
  height: 23px;
  width: 23px;
  border-radius: 50%;
  text-decoration: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  /* left: 650px; */
  top: 47px;
  background-color: #fd4b6b;
  margin-left: 6px;
  text-decoration: none;
}

.dropdown-menu ul {
  display: block;
  list-style: none;
  text-decoration: none;
}

.dropdown-menu ul li {
  width: 100px;
  color: white;
  text-decoration: none;
  /* text-align: start; */
}

.nav-center .heart:hover .dropdown-menu {
  display: block;
}

.dropdown-menu ul li:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .cart .content h4:last-child {
    display: none;
  }
  .cart {
    align-items: center;
  }
}

@media (max-width: 1050px) {
  .cart .content {
    content: "Cart";
    display: none;
  }
}

@media (max-width: 860px) {
  .logo {
    position: relative;
    left: 0;
  }
  .login-signup .content {
    display: none;
  }
  .login-signup {
    width: auto;
    border: none;
  }
  .cart {
    width: auto;
    border: none;
  }
}

@media (max-width: 800px) {
  .cart {
    width: auto;
  }
  .cart .content {
    display: none;
  }
  .input-box {
    display: none;
  }
  .nav-center .heart {
    width: auto;
  }

  .login-signup {
    width: auto;
    border: none;
  }

  .cart {
    border: none;
    display: flex;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* width: 150px; */
  }
}
