@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@1000&family=Lunasima&family=Noto+Sans+Mahajani&family=Poppins:ital,wght@0,200;1,300&family=Ubuntu:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}

.hero-section{
  /* min-height: 100vh; */
  height: auto;
  background-color: #115061;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-main{
  width: 85vw;
  min-height: 500px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* background-color: rgb(219, 26, 26); */
}

.hero-left{
  width: 430px;
  height: 300px;
  color: white;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-right{
  width: 450px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: entry-left;
  animation-duration: 1s;
  animation-iteration-count: 1;
}



.hero-left .content{
  /* background-color: black; */
  min-width: 430px;
  width: auto;
  animation: entry-right linear infinite;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}

.hero-left .content h3{
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  left: 4px;
}

.hero-left .content h1{
  font-size: 3.6rem;
  font-weight: 900;
  font-family: 'Ubuntu', sans-serif;
}

.hero-left .content h2{
  font-size: 1.3rem;
  font-family: 'Kalam', cursive;
  position: relative;
  left: 4px;
}

.hero-left .content h2 span{
  font-size: 1.3rem;
  color: yellow;
  font-family: 'Bad Script', cursive;
}


.hero-left .content .btn{
  width: 140px;
  height: 45px;
  background-color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 900;
  color: black;
  margin-top: 20px;
  font-family: 'Bad Script', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
  left: 4px;
  
}

@keyframes entry-left {
  0%{
    position: relative;
    left: 100px;
    opacity: 0;
  }
  100%{
    position: relative;
    left: 0;
    opacity: 1;
  }
}

@keyframes entry-right {
  0%{
    position: relative;
    right: 100px;
    opacity: 0;
  }
  100%{
    position: relative;
    right: 0;
    opacity: 1;
  }
}

.feature-offers{
  /* background-color: rgb(249, 0, 0); */
  min-height: 180px;
  height: auto;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.offers-main{
  width: 90vw;
  min-height: 250px;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  display: flex;
  /* gap: 20px; */
  justify-content: space-evenly;
  flex-wrap: wrap;
column-gap: 20px;
}

.feature-offers .offer{
  height: 100px;
  width: 270px;
  background-color: #fff4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.feature-offers .content{
  display: flex;
  justify-content: space-evenly;
  width: 280px;
}

.feature-offers .content .content-left i{
  font-size:2rem;
  color: #fd4b6b;
}

.feature-offers .content .content-right p{
  font-size:0.9rem;
  /* color: #fd4b6b; */
  color: #115061;
  font-family: sans-serif;
}

.feature-offers .content .content-right h3{
  font-size:1.3rem;
  /* font-weight: 800; */
  /* color: #fd4b6b; */
  font-family: 'Kalam', cursive;
}

@media(max-width:1100px){
  .feature-offers{
    min-height: 250px;
  }
  .offers-main{
    min-height: 250px;
  }
  .feature-offers .offer{
    width: 350px;
    gap: 100px;
  }

  
}

@media(max-width:800px){
  .feature-offers{
    min-height: 500px;
  }
  .offers-main{
    min-height: 500px;
  }
}